
/* body{

    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    background-image: url(lalit.2.jpg);
    
    } */

.a{
    margin-right: 30px;
    color:red;
    
}

.b{
    font-size: 30px;
    color: aqua;
}

.m{
    background-attachment: fixed;
    /* background-attachment: scroll; */
    /* opacity: 0.8; */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url(nastuh-abootalebi-eHD8Y1Znfpk-unsplash.jpg);
    padding-top: 200px;
    padding-bottom: 450px;
    text-align: left;
    color:red;
      
}

.d{
margin-top: -700px;
margin-left: 10px;

}

.p{
    color:red;
    
}

.y{
    background-color: green;
    color: white;
    padding-top: 40px;
    padding-bottom: 15px;
    margin-top: -60px;
}

.jj{
    margin-top:70px;
    margin-bottom:80px;
}

.o{
    width: 270px;
}

.c{
    background-color: green;
    color: aliceblue;
    text-align: center;
}

.l{
    padding-top: 100px;
    margin-bottom: 60px;
}

.k{
    font-size: 40px;
    color: red;
    margin-right:20px;
}

.j{
    margin-bottom:100px;
}


.t{
    background-color:black;
}

.bb{
    margin-left:80px;
    margin-top:-200px;
    
}
.zoom:hover {
    -ms-transform: scale(1.1); 
    -webkit-transform: scale(1.1); 
    transform: scale(1.1); 
  }

.g{
    margin-top:-200px;  
}

.mm{
margin-bottom:300px;
margin-top:50px;
    color: white;
}

.cc{
    padding-bottom:300px;
    margin-top:-80px;
    margin-left:80px;
}

.ll{
    padding-bottom:199px; 
    margin-top:-249px;

}
